

.about-state .work-section{
    width: 0vw;
    opacity: 0.3;
    
    
}



.about-state .about-section{
  width:100vw;

}






.sub-num{
    position: absolute;
    left: calc( 0px - var(--pdn) * 8);
    
    /* border-bottom: 1px solid black; */
    width: 600;
    color: var(--grey);
  }

  .all-about{

    
    min-width: calc(100vw - var(--pdn ) * 2 );
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: flex-end;
   
   
    overflow: scroll;
    padding: var(--pdn);
    padding-top: calc( var(--pdn) * 7);

    gap: var(--pdn);
    
    

  }

  @media only screen and (max-width: 1000px) {
    .all-about{

  
      grid-template-columns: 1fr 1fr;
      
      
  
    }
    
    
  }

  @media only screen and (max-width: 700px) {
    .all-about{

      display: inline-block;
      
      
      
  
    }
    
    
  }


 

  .about-section{
    
   
    padding: var(--pdn);
    padding-top: 0;
    height: 100%;
   
    position: relative;

    overflow: hidden !important;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    

  }



.about-contact{
    
  position: absolute;
  top: calc(var(--pdn) * 7);
  align-self: start;
  height: 90%;


  
  display: flex;
  
  flex-direction: column;

  .contact-block{
   
    

    .sub{
      margin-bottom: calc(var(--pdn) * 3);
    }
  }
  


  img{
    
    width: 23vw;
    margin-top: 2em;
    height: auto;
    object-fit: cover;
    
   
    
    
}
}

@media only screen and (max-width: 1000px) {
   
    .about-contact{
    
        position:static;
        grid-column: 1/2;
        height: fit-content;
        
        

        img{
          width: 80%;
          margin-left: 8%;
        }

    }
  }

  

 .c-line{
  
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-bottom: 3px;
 }

 

  .hero-statement{
    
    width: 100%;
    

    /* padding-top: calc(var(--pdn)*2); */
    margin-bottom: calc( var(--pdn) * 2.5);

  }

  

  .about-info{
    width: 100%;
    grid-column: 3/4;
    height: fit-content;
    

    .sub{
      margin-bottom:calc( var(--pdn) * 3);
    }

   

   }

  @media only screen and (max-width: 700px) {
    .about-info {
      width: 100%;
      grid-column: 1/2
      
    }
  }

  @media only screen and (max-width: 1000px) {
    .about-info {
      width: 100%;
      grid-column: 2/3
      
      
    }
  }

  @media only screen and (max-width: 700px) {
    .about-info {
      width: 100%;
      grid-column: 1/2;
      
      
    }
  }


  .about-body{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: var(--pdn);
  }

  .i-block{ 
    margin-bottom:  calc( var(--pdn) * 4 );
  }

  .hero-block{
    position: relative;
  }

  .clinets-block{
    grid-column: 1/5;
    position: relative;
    margin-bottom: calc( var(--pdn) * 1.5);
  }
  .reconition-block{
    grid-column: 5/8;
    display: flex;
    flex-direction: column;
  }
  .pen-block{
    position: relative;
    grid-column: 1/8;
    grid-row: 2;
    /* background-color: red; */
    display: flex;
    height: fit-content;
    margin-bottom: calc(var(--pdn) * 10)

    
  }
  .pen-block-wrap{
   
    width: max-content;

  }


  .footer{
    width: 100%;
   
    
    
  }

  .social-block{
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
  }
  



  

  