
@keyframes fadeIn {
  
    0%{
      opacity: 0;
    }
    100%{
      opacity: 100%;
    }
  
  }
  
  @keyframes pulse {
  
    from {
      background-color: red;
    }
  
    to {
      background-color: var(--wht);
    }
    
  }

  .project-open{
    background-color: var(--blk);
    pointer-events: none;

    
    
  }
  
  .project-tab {
  
    /* animation-name: pulse;
    animation-duration: 3s;
    animation: fadeIn 3s; */
    
    position: absolute;
     background-color: var(--wht); 
     
    display: flex;
    flex-direction: column;
   
    align-items: flex-end;
    
    background-color:var(--wht);
    z-index: 20;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    filter: drop-shadow( 0px 0px 20px var(--shadow));
    transition: ease all 1s;
    width: 100%;
    
  }
  

  
  /* testing  */
  
  .closed{
    top:100%;
    
   
    background-color: var(--inactive);
    transition: ease all 1s;
    // border-radius:600px 600px 0 0 ;
    overflow: hidden;
    
  }
  
  .open{
    top: 0% ;
   
    transition: ease all 1s;
    
    overflow: hidden;
    
    
    
    
  }

  @media only screen and (max-width: 1000px) {
   
    .open{
       
        left: 0;

        
      }

      .closed{
        left: 0;
      }
    
  }
  
  
  
  
  
  
  .project-main-info{
  
    
    height: fit-content;
    width: 450px;
    display: flex;
    flex-direction: column;
    padding-right: var(--pdn);
    
    
    gap: 5px;
    
    padding-top: calc( var(--pdn) * 4 );
  
  }

  @media only screen and (max-width: 1000px) {
    .project-main-info {
      
      
      width: calc(100% - var(--pdn)* 2 );
    }
  }
  
  
  
  
  
  
  
  
  .project-inner{ 
    
    
    overflow-x: scroll;
    /* background-color: var(--wht); */
    
    padding-top: var(--pdn);
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    
    gap: var(--pdn);
    overflow-x: hidden;
    z-index: 100000000;
    
    
    
  }
  
  
  
  .project-header{
    display: flex;
    justify-content: space-between;
    width: 450px;
  
    padding-right: var(--pdn);
   position: fixed;
   z-index: 800;
  
  }
  
  .project-title-wrapper{
   
    
    display: flex;
    flex-direction: row-reverse;
    
    
    
    
   
  }
  
  
  
  .project-info-wrap{
  
    background-color: var(--wht);
    border-radius: 4px;
    border: 1px solid var(--grey);
    padding: var(--pdn);
   
    
  }
  
  
  
  
  .info-block{
    display: grid;
    padding: 5px 0 ;
    grid-template-columns: 1fr 1fr;
    gap: var(--pdm);
    width: 100%;
  
  }
  
  .project-images{
    
    width: 450px;
    padding-top: calc( var(--pdn) * 6 );
    padding-bottom: calc( var(--pdn) * 3 );
    padding-right: var(--pdn);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--pdn);
    object-fit: cover;
  
    
    /* background-color: firebrick; */
  }

  @media only screen and (max-width: 1000px) {
    
    .project-images{

        width: 100%;
        padding-right: 0;
        padding-left: 0;
        display: block;

        .project-img{
           padding: var(--pdn);
           width: calc( 100% - var(--pdn) * 2)

        }
    } 
  }
  
  .projectgrid{
    display: grid !important;
    grid-template-columns:  450px 1fr;
              
              
    object-fit: cover;
  }
  
  .projectgrid .project-images{
  
    width: 100%;
    height: auto;
  
    object-fit: fill;
  
  }
  /* .project-inner img{
    width:  calc( 100% - 450px - var(--pdn));
    object-fit: cover;
    z-index: 20;
  } */
  .img-wrap{
  
    width: 100%;
   
   
    
  }
  
  


  .project-img{
  
    
    width: 100%;
    max-height: 120vh;
    object-fit: cover;

    img{
        width: 450px;
    }
   
  }

  
  
 