

  .project-open{
   
    pointer-events: none;

    
    
  }
  
  .project-tab {
  
    /* animation-name: pulse;
    animation-duration: 3s;
    animation: fadeIn 3s; */
    
    position: absolute;
    background-color: var(--blk); 
     
    display: flex;
    flex-direction: column;
   
    align-items: flex-end;
    
    background-color:var(--wht);
    z-index: 60;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
   
    transition: ease all 1s;
    width: 100%;

    .loading{
      img{
        width: 60%;
      }
    }
    
  }
  

  
  /* testing  */
  
  .closed{
    top:100%;
    
   
    filter: drop-shadow( 0px -10px 100px rgba(0, 0, 0, 0));
    transition: ease all 1s;
    // border-radius:600px 600px 0 0 ;
    overflow: hidden;
    
  }
  
  .open{
    top: 34px ;
   
    transition: ease all 1s;
    
    overflow: hidden;
    filter: drop-shadow( 0px -40px 50px rgb(0, 0, 0));
    
    
    
  }

  @media only screen and (max-width: 1000px) {
   
    .open{
       
        left: 0;

        
      }

      .closed{
        left: 0;
      }
    
  }
  
  
  
  
  
  
  .project-main-info{
  
    
    
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: var(--pdn);
    gap: 5px; 
    padding-top: calc( var(--pdn) * 7);
    position: sticky;
    top: 0;
    height: fit-content;
    
    .p-info{
      margin-bottom: calc( var(--pdn) * 2);
    }
  }

  @media only screen and (max-width: 700px) {
    .project-main-info {
    
    grid-row: 1;
    position: unset;

    }
  }
  
  
  
  
  
  
  
  
  .project-inner{ 
    
    
   
    /* background-color: var(--wht); */
    display: grid;
    flex-direction: column;
    gap: var(--pdn);
    overflow-x: hidden;
    z-index: 100000000;
    
    
    
  }

  .project-main-contnent{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--pdn);
    padding: 0 var(--pdn) ;
  }

  @media only screen and (max-width: 1000px) {
    .project-main-contnent{
      
      grid-template-columns: 1fr 1fr;
     
    }
    
    
  }

  @media only screen and (max-width: 700px) {
    .project-main-contnent{
      
      grid-template-columns: 1fr ;

      
    }
    
    
  }
  
  
  
  .project-header{
    display: flex;
    justify-content: space-between;
    width: calc(100% - var(--pdn) * 2);
    padding: var(--pdn) 0;
   position: fixed;
   z-index: 800;
   
  justify-content: flex-end;
  // border-bottom: 1px solid var(--blk);
  

   .project-header-contnet{
    width: 33.1%;
    display: flex;
    justify-content: space-between;
    
   }
   
  
  }


  @media only screen and (max-width: 1000px) {
   
    .project-header{
        display: flex;
        justify-content: flex;
       position: fixed;
       left: 0;
       right: 0;
       width: calc( 100% - var(--pdn) * 2);
       z-index: 800;
       padding-left: var(--pdn);
      //  background-color: green;
      }

      .project-header-contnet{
        width: calc( 50% - var(--pdn) / 2) !important;
        display: flex;
        justify-content: flex-end;
        // background-color: red;
        
       }

   }

   @media only screen and (max-width: 700px) {
   
    .project-header{
        display: flex;
        justify-content: flex;
        background-color: var(--wht);
       position: fixed;
       left: 0;
       right: 0;
       width: calc( 100% - var(--pdn) * 2);
       z-index: 800;
       padding-left: var(--pdn);
       padding-right: var(--pdn);
      //  background-color: green;
      }

      .project-header-contnet{
        width: calc( 100% - var(--pdn) / 3) !important;
        display: flex;
        justify-content: flex-end;
        // background-color: red;
        
       }

   }
  
  .project-title-wrapper{
   
    
    display: flex;
    flex-direction: row-reverse;
    
    
    
    
   
  }
  
  
  
  .project-info-wrap{
  
    background-color: var(--wht);
    border-radius: 4px;
    border: 1px solid var(--grey);
    padding: var(--pdn);
   
    
  }
  
  
  
  
  .info-block{
    display: grid;
    padding: 5px 0    ;
    grid-template-columns: 1fr 1fr;
    gap: var(--pdm);
    width: 100%;
    border-top: 1px solid var(--line);
  
  }
  
  .project-images{
    
    padding-top: calc( var(--pdn) * 1 );
    padding-bottom: calc( var(--pdn) * 3 );
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr ;
    // flex-direction: column;
    // align-items: flex-start;
    // justify-content: flex-start;
    gap: calc(var(--pdn));
    object-fit: cover;
   
    

    .project-img{
      border-radius:5px;
    }
  
    
    /* background-color: firebrick; */
  }

  @media only screen and (max-width: 1000px) {
    
    .project-images{

        width: 100%;
        padding-right: 0;
        padding-left: 0;
        display: block;

        .project-img{
           
           padding-bottom: 0;
          

        }
    } 
  }
  
  .projectgrid{
    display: grid !important;
    grid-template-columns:  30% 1fr;
              
              
    object-fit: cover;
  }
  
  .projectgrid .project-images{
  
    width: 100%;
   
  
    
  
  }
  /* .project-inner img{
    width:  calc( 100% - 30% - var(--pdn));
    object-fit: cover;
    z-index: 20;
  } */
  .img-wrap{
  
    width: 100%;
   
   
    
  }
  
  


  .project-img{
  
    
    width: 100%;
    max-height: 160vh;
    object-fit: cover;

    img{
        width: 30%;
    }
   
  }

  .link{
    cursor: pointer;
  }

  
  
 