
.work-state .movment-wrap{
  
 
    transform: translate( 0, 0px);
  }
  
  .work-state .about-section{
  
    width: 0vw;
   
  }

  .work-state .work-section{

    width:100vw;
    filter: var(--drop);
    
    display: flex;
  
  }
  
 

  .about-info-block{
    margin-bottom: calc(var(--pdn) * 2);
  }

  .half{
    color: var(--grey);
  }

  .comingsoon{
    background-color: var(--lite-grey) !important;

    &:hover{
        p{
            color: var(--blk)!important;
        }

        .line-cat{
            background-color: var(--lite-grey)!important;
        }
    }
  }

.all-work{
  
    /* min-width: calc( var(--window-width) - var(--pdn) * 5 ); */
  
    
    min-width: calc(100vw - var(--pdn) * 2);
    padding: var(--pdn);
    padding-top: calc( var(--pdn) * 4);
    
    
    top: 0;
    margin-top: 0;
  
    
  
  }
 

  .work-section-title{
    height: 5em;
    display: flex;
    align-items: center;
    opacity: 0.4;
    
  }


.work-intro{

    display: flex;
    justify-content: center;
    align-items: center;
  }
    
    .work-section{
      position: relative;
      
      
      z-index: 10;
      overflow-x: hidden;
  
      
    }
  
   
  
    
  
    .work-box{
      position: absolute;
      background-color: var(--blk);
      left: 0;
      right: 0;
      bottom: 100%;
      top: 0;
      
      
      z-index: -10;
    }
  
    
  
    .work-link-mobile{
      display: none;
      position: unset !important;
      left: var(--pdn);
      z-index: 300;
      
    }
    
   
    
  
    /*  work project catagorys line */
  
    
    .catagorys-title{
      display: grid;
      grid-template-columns: 1fr 2fr 3fr 2fr ;
      padding: var(--pdn) 0; 
      gap: var(--pdn);
      
    //   border-top: 1px solid var(--grey);
    }
 
  
    .catagorys-title p{
      color: var(--grey);
    }
  
  
    /* work lines  */
  
    .line{
      height: 1px ;
      
      width: 100%;
      
      background-color: var(--line);
  
      transition: ease all 0.3;
      
  
    }
  
    .work-line{
      padding: 0 15px 0 40px;
      
      display: flex;
      align-items: center;
      display: grid;
      grid-template-columns: 1fr 2fr 3fr 2fr ;
      gap: var(--pdn);
      padding: 8px 3px;
      background-color: transparent;
      
      &:hover{
        background-color: var(--blk);
      }
      
      
      
      
    }

    @media only screen and (max-width: 1000px) {
  
        .work-line{
            align-items: flex-start;
        }

        .work-line-title{
            
            padding: 0px;
            
        }
        }


    .hover-img{ 
        opacity: 0 ;
        
        position: absolute;
        z-index: 100000;
        left: 0;
        top: 0;
        width: 150px;
        height: 200px;
        z-index: 1000000;
        z-index: -1;

        .project-hover-img{
            width: 100%;
            height:100%;
            object-fit: cover;
        }

      }
  
  
  
    
  
   @media (hover:hover) {
    
   

    .work-line:hover {

        p{
            color: var(--wht);
        }

        .line-cat{
           background-color: var(--lite-wht);
        }

        .hover-img{
            opacity: 1;
            z-index: 100;
        }

        .work-line-dot{
            background-color: var(--wht);
        }

    }


  
  
    .work-line:hover .work-box{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      filter: blur(0);
      opacity:1;
      background-color: var(--blk);

      
    }


  
    .work-line:hover img{
      opacity: 1 ;
     
      
    }

}
  
    .work-line-index{
      width: max-content;
      grid-column: 1/2;
      
    }

    @media only screen and (max-width: 1000px) {
  
        .work-line-index{
            display: none;
        }

       
        }

  
    
  
   

    @media only screen and (max-width: 1000px) {
  
        .work-line-title{
            width: 20vw;
            grid-column: 1/2;
          }

       
        }
  
  
    .work-line-cat{
        grid-column: 3/4;
      width: max-content;
      
    }
  
  
    .work-catagory{
      width: 100%;
      display: flex;
      gap: 6px;
      grid-column: 3/4;
      flex-wrap: wrap;
      
     
    }

    @media only screen and (max-width: 1000px) {

        .work-catagory{
            width: 100%;
            display: flex;
            gap: 6px;
            grid-column: 2/4;
            flex-wrap: wrap;
            
           
          }

          .work-line-cat{
            grid-column: 2/4;
          width: max-content;
          
        }
    }
  
    
  
   
  
    .line-cat{
      background-color: var(--lite-grey);
      border-radius: 4px;
      width: max-content;
      padding: 2.5px 8px;
    }
  
    .work-line-date{
      
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-column: 4/5;

        
      
    }

    @media only screen and (max-width: 1000px) {

        .work-line-date{
            width: auto;
            grid-column: 5/5;

            .work-line-dot{
                display: none;
            }
         
            
          }
    }

    .work-line-dot{
        background-color: var(--blk);
        height: 15px ;
        width: 15px;
        border-radius: 50%;

        
        
    }
  
 
  
  
  
  