
.work-state .movment-wrap{
  
 
    transform: translate( 0, 0px);
  }
  
  .work-state .about-section{
  
    width: 0vw;
   
  }

  .work-state .work-section{

    width:100vw;
    filter: var(--drop);
    
    display: flex;
  
  }
  
 

  .about-info-block{
    margin-bottom: calc(var(--pdn) * 2);
  }

  .half{
    color: var(--grey);
  }

  .comingsoon{
    background-color: var(--lite-grey) !important;

    &:hover{
        p{
            color: var(--blk)!important;
        }

        .line-cat{
            background-color: var(--lite-grey)!important;
        }
    }
  }

.all-work{
  
    /* min-width: calc( var(--window-width) - var(--pdn) * 5 ); */
    min-width: calc(100vw - var(--pdn) * 2);
    padding: var(--pdn);
    padding-top: calc( var(--pdn) * 5);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: var(--pdn);
    overflow: scroll;
    top: 0;
    margin-top: 0;

    .main-footer{
      grid-column: 1/4;
     
      height: 60vh;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end ;

      img{
        
        width: 100%;
      }
    }

    @media only screen and (max-width: 1000px) {
      .main-footer{
        grid-column: 1/3;
      }

    }
  }
 

  @media only screen and (max-width: 1000px) {
   
    .all-work{
  
      /* min-width: calc( var(--window-width) - var(--pdn) * 5 ); */
      display: grid;
      grid-template-columns: 1fr 1fr ;

    }
    
  }

  @media only screen and (max-width: 600px) {
   
    .all-work{
  
      /* min-width: calc( var(--window-width) - var(--pdn) * 5 ); */
      display: grid;
      grid-template-columns:  1fr 1fr ;

    }
    
  }

  .work-section-title{
    height: 5em;
    display: flex;
    align-items: center;
    opacity: 0.4;
    
  }


.work-intro{

    display: flex;
    justify-content: center;
    align-items: center;
  }
    
    .work-section{
      position: relative;
      
      
      z-index: 10;
      overflow-x: hidden;
  
      
    }
  
   
  
    
  
    .work-box{
      position: absolute;
      background-color: var(--blk);
      left: 0;
      right: 0;
      bottom: 100%;
      top: 0;
      
      
      z-index: -10;
    }
  
    
  
    .work-link-mobile{
      display: none;
      position: unset !important;
      left: var(--pdn);
      z-index: 300;
      
    }
    
   
    
  
    /*  work project catagorys line */
    

    
    .catagorys-title{
      display: grid;
      grid-template-columns: 1fr 2fr 3fr 3fr ;
      padding: var(--pdn) 0; 
      gap: var(--pdn);
      
    //   border-top: 1px solid var(--grey);
    }
 
  
    .catagorys-title p{
      color: var(--grey);
    }
  
  
    /* work lines  */
  
    .line{
      height: 1px ;
      
      width: 100%;
      
      background-color: var(--line);
  
      transition: ease all 0.3;
      
  
    }
  
    .work-line{

      
      display: flex;
      align-items: center;
      display: grid;
      gap: var(--pdn);
      padding: var(--pdn) 0px 0px 0px  ;
      background-color: transparent;
      display: flex;

      .sub{
        margin-right: var(--pdn);
      }

      &:hover{
        // background-color: var(--blk);
      }
      
      
      
      
    }

    @media only screen and (max-width: 1000px) {
  
        .work-line{
            align-items: flex-start;
            grid-template-columns: 1fr  ;
        }
       

        .work-line-title{
            
            padding: 0px;
            width: 100%;
           
            
        }
        }


    .hover-img{ 

        z-index: 100000;
        left: 0;
        top: 0;
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius:5px;
        overflow: hidden;
        z-index: 1000000;
        z-index: -1;
        cursor: pointer;

        .project-hover-img{
            width: 100%;
            height:100%;
            object-fit: cover;
        }

      }
  
  
      @media only screen and (max-width: 1000px) {
  
        

       
      }


      @media only screen and (max-width: 600px) {
  
       

       
      }

    
  
   @media (hover:hover) {
    
   

   


  
  


  
  

}
  


  
  
    
  

 
  
  
  
  