*{
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: Helvetica, Times, serif, sans-serif

}

@import "_work.scss";
@import "_about.scss";
@import "project.scss";


#root{
  overflow: hidden;
  
}
.resize-window{
  display: none;
}

@media(hover:hover){
.resize-window{

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: yellow;
  overflow: hidden;
  z-index: 99999999999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease all 0.2s;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  img{
    mix-blend-mode: difference;
    height: 230vw;
  }
 
}

}

.resize-window p{
  color: var(--wht);
}

.resizeing{
  opacity: 1;
}

.mesurments{
  display: flex;
  gap: 5px;
}

.resizing {

}

.scroll-wrap{
  
  padding: var(--pdn);
 padding-top: 0;
 
  overflow: scroll;
 
  padding-bottom: 25vh;
  
}

@media( hover:hover){
  .scroll-wrap{
    
   
    
    padding-bottom: var(--pdn);
  }
}

body{
  background-color: var(--wht);
  overflow: hidden;

 
}

.loading{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
 
}

.logo{
  position: absolute;
  top: 0;
  left: var(--pdn);
  height: var(--header-m);
  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 18;
  pointer-events: none;
   
    transition: ease all 1s;
  
}

@media only screen and (max-width: 700px) {
  
  .logo{
    z-index: 20;
  }
}

.main-footer{

  img{
    width: 49vw;
  }
 
}

@media only screen and (max-width: 1000px) {
  
  .main-footer{
    position: block !important;
   
    bottom: 0;
  }
  }



.footer-contact{
  display: flex;
  width: 30%;
  justify-content: space-between;
  
}


.footer-name{
  position: absolute;
  bottom: var(--pdn);
  left: var(--pdn);
  z-index: 10000;
  display: none;
}



.landing-animation{

  filter: backdrop-blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  
  bottom: 100%;
  left: 0;
  right: 0;
  background: var(--grey);
  z-index: 1000000000;
  overflow: hidden;
}
.landing-animation h1{
  color: var(--blk);
}



*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.fragment{
  overflow: hidden;
}

:root {
  --pdn: 10px;
  --header-m: 34px;
  
    @media only screen and (max-width: 1000px) {
    --pdn: 10px;
    }


  --grey: #4d4d4da0;
  --lite-grey: #ebdcd6;
  /* --inactive: rgb(51, 116, 73); */
  --inactive: #000000;
  --wht: #1a1a1a;
  --lite-wht: #4242423e;
  --blk: rgba(238, 238, 238, 0.899);
  --line: #7e7e7e36;
  --shadow: rgb(40, 40, 40);
  --closed-window: 50px;
  --window-width: calc(100vw - var(--closed-window));
  --shadow: #0d00ff;

  
}





.underline{
  text-decoration: underline;
}


.resize{
  
  color: white;
  z-index: 10000;
  height: 30px;
  width: 30px;
  border-radius: 20px;

  position: absolute;
  top: 50%;
  left: -10px;

  display: flex;
  align-items: center;
  justify-content: center;

}

.resize svg{
  width: 60%;

  
}

a{
  font-size: 0.9rem;
  color: var(--blk);
  text-decoration: none;
  color: var(--blk);
  line-height:  1.1rem;
}


p{
  font-size: 0.9rem;
  line-height:  1.1rem;
  font-weight: 500 ;
  color: var(--blk);
  
  font-family: Helvetica, sans-serif;
  
}


@media only screen and (max-width: 1000px) {
  p,a {
    font-size: .9rem;
    line-height: 1.1rem;

  }
}




.sub{
  color: var(--blk);
 
  opacity: 0.5;
  
  
  
  
}


h1{
  font-size: 1.9vw;
  font-weight: 400 ;
  color: var(--blk);

}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 4.3vw;

  }
}

.dim{

  background-color: rgb(0, 0, 0) !important;

  p{
    opacity: 0.5 !important;
  }
  
}

.nav{

  position: absolute;
  transition: ease all 1s;
  
  left:0;
  right: 0;
  top: 0;
  height: var(--header-m);
  background-color: var(--wht);
  // backdrop-filter: blur(10px);
  padding: 0 var(--pdn);
  
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--pdn);
  
  z-index: 15;
  background-color: var(--wht);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.nav-links{
  display: flex;
  grid-column: 3/4;
  gap: var(--pdn);
  /* width: 900px; */
 
  /* flex-direction: row-reverse; */
  width: 100%;
  justify-content: space-between;

  p{
    transition: ease all 1s;
  }
  
 
}

@media only screen and (max-width: 1000px) {
  .nav{

   
   
  }

  .nav-links{
    display: flex;
    gap: var(--pdn);
    width: calc(50vw - var(--pdn) * 2); 
    justify-content: space-between;
    /* flex-direction: row-reverse; */
   
    
  }
 }

 @media only screen and (max-width: 700px) {
  

  .nav-links{
    display: flex;
    gap: calc( var(--pdn) * 3);
    width: calc(50vw - var(--pdn) * 2); 
    // background-color: red;
    justify-content: flex-end;
    /* flex-direction: row-reverse; */
  }
 }

 
/* 
.hide-nav-links .nav-links{

  background-color: yellow;
  opacity: 0;
  pointer-events: none;
  z-index: 0;

} */


@keyframes load {

  0%{
    height: calc(100vh - var(--header-m));

  }

  80%{
    height: calc(100vh - var(--header-m));
  }

   100%{
    height: 0vh;
    
  }
  
}

.loading-screen{

  height: 0vh;
  background-color: rgb(255, 255, 255);
   height: 0;
  animation: load 4s ;
  animation-iteration-count: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: yellow;
  p{

    color: var(--wht);

  }

.hero{
  color: white;
  mix-blend-mode: difference;
  font-weight: 600;
  font-size:10vw;
  letter-spacing: -0.4vw;
  height: 100%;
  justify-content: center;
 
  
}
  

  img{
    height: 160vh;
    object-fit: contain;
    object-position: center;
    mix-blend-mode: difference;
  }
}

.home-wrap{

  position: relative;
 
  
  
 
}

.movment-wrap{
  display: flex;
  flex-direction: row-reverse;
 
  

  height: calc(var(--vh, 1vh) * 100);
 
}



.btn{
  
  height: 18px;

  color: var(--blk);
  width: max-content;
  
 
  display: flex;
  align-items: center;
  
  
  

  
  display: flex;
  align-items: center;
  opacity: 0.5;
}


.btn:hover{
  
  
  opacity: 1;
  
}


.btn-inactive{
  

  
  color: var(--blk);
  
  border-bottom: 0px solid var(--blk);
  opacity: 1;
  display: flex;
  align-items: center;
  
  
}

.btn-inactive:hover{
  
  
  
  
  opacity: 1;
 
  
  
}


.inactive{
 
  
  
}

.inactive .about-section{
  
}

.inactive .section {
  opacity: 0.5;
  
}

.inactive .about-info{
  pointer-events: none;
}

.inactive .project-inner{
  background-color: var(--inactive);
  overflow: hidden;
  
}

.inactive .about-info{
  
 
  
  opacity: 1;
 
}

.inactive .all-work{
  
 
  
  opacity: 1;
 
}


.section{

  width: 100vw;
  transition: ease all 1s;
  overflow: hidden;
  height: 100% ;

  
 

 
  
 
  
  
}


/* about section ----------------------------------------------- */

 
/* work section ------------------------------------------------ */

/* project section --------------------------------------------- */




