*{
  padding: 0;
  margin: 0;
  list-style-type: none;

}
:root {
  --pdn: 20px;
  --grey: rgb(169, 169, 169);
  --inactive: rgb(193, 193, 193);
  --wht: rgb(238, 238, 238);
  --blk: rgb(94, 94, 94);

  --window-width: calc(100vw - var(--pdn) * 7.7);
}


.work-active .resize{

  rotate: 90deg;

}

.resize{
  background-color: var(--blk);
  color: white;
  z-index: 10000;
  height: 30px;
  width: 30px;
  border-radius: 20px;

  position: absolute;
  top: 50%;
  left: -10px;

  display: flex;
  align-items: center;
  justify-content: center;

}

.resize svg{
  width: 60%;

  
}

a{
  color: var(--blk);
  text-decoration: none;
  color: var(--blk);
}


p{
  font-size: 14px;
  font-weight: 400 ;
  color: var(--blk);
  line-height: 125%;
}

h4{
  font-size: 16px;
  font-weight: 400 ;
  color: var(--wht);
  line-height: 125%;
}

.sub{
  color: var(--grey);
  padding-bottom: var(--pdn);
}

h1{
  font-size: 1.9vw;
  font-weight: 400 ;
  color: var(--blk);

}

.nav{
  position: fixed;
  top: var(--pdn);
  left: var(--pdn);
  z-index: 150;
  display: flex;
  justify-content: flex-start;
  
  align-items: center;
  border-radius: 5px;
  
  
  
  gap: 5px;
  
  /* background-color: red; */

}
.home-wrap{
  display: flex;
  flex-direction: row-reverse;
  
  
  overflow: hidden;
}

.movment-wrap{
  display: flex;
  flex-direction: row-reverse;
}

.work-state .movment-wrap{
  
  transition: ease all 0.3s;
  transform: translate( 0, 0px);
}

.about-state .movment-wrap{
  
  transition: ease all 0.3s;
  transform: translate(calc(var(--window-width) - var(--pdn) * 3.7), 0px);
}



.btn{
  padding: 1px 8px  2px 8px !important;
  background-color: rgb(223, 223, 223);
  width: max-content;
  border-radius: 4px;
  border: 2px solid rgb(170, 170, 170);

  filter: drop-shadow(0 0 0.75rem rgba(31, 31, 31, 0.196));
  
}


.btn:hover{
  background-color: rgb(223, 223, 223);
  border: 2px solid rgb(170, 170, 170);
}


.btn-inactive{
  
  padding: 1px 8px  2px 8px ;
  background-color: rgb(189, 189, 189);
 
  
  
}




.inactive{
  background-color: var(--inactive) !important;
  
}

.inactive .section {
  
  opacity: 0.3;
  
}

.inactive .project-inner{
  background-color: var(--inactive);
  overflow: hidden;
}

.section{
  padding: var(--pdn) ;
  height: calc(100vh - var(--pdn) * 2);

  min-width: var(--window-width);
  
}


/* about section ----------------------------------------------- */

  .about-section{
    background-color: var(--wht) ;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--pdn);
    padding: var(--pdn);
    height: calc( 100vh - var(--pdn)*2 );

    width: var(--window-width);
    position: relative;
  }

  .profilepic{
    grid-column: 1 / 6;
    background-color: rgb(33, 33, 33);
    
    position: absolute;
    top: 0;
    left: calc( -20px);
    right: 0;
    bottom: 0;
  
   
    
  }

  .profilepic img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .hero-statement{
    
    width: 100%;

    /* padding-top: calc(var(--pdn)*2); */
    margin-bottom: calc( var(--pdn) * 2);
  }

  .about-info{
    
    grid-column: 6 / 13;
    width: 100%;
    
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    

    
  }

  .about-body{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: var(--pdn);
  }

  .clinets-block{
    grid-column: 1/3;
  }
  .reconition-block{
    grid-column: 3/6;
  }
  .pen-block{
    grid-column: 6/8;
  }


  .footer{
    width: 100%;
   
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: var(--pdn);
    
   
    
  }

  .social-block{
    grid-column: 1/3;
  }
  

  .contact-block{
    grid-column: 3/6;
  }


  

/* work section ------------------------------------------------ */
  
  .work-section{
    position: relative;
    background-color: var(--wht);
    border-left: 2px solid var(--grey);
  }

  .work-box{
    position: absolute;
    background-color: var(--inactive);
    left: 0;
    right: 0;
    bottom: 100%;
    top: 0;
    
    transition: ease all 0.2s;
    z-index: 0;
  }

  .work-link{
    position: absolute;
    left: var(--pdn);
    z-index: 300;
  }

  /*  work project catagorys line */

  
  .catagorys-title{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    padding: var(--pdn) 0;

  }

  .catagorys-title p{
    color: var(--grey);
  }


  /* work lines  */

  .line{
    height: 1px ;
    width: 100%;
    background-color: var(--grey);

  }

  .work-line{
    
    position: relative;
    overline: hidden;
    display: flex;
    
    display: grid;
    grid-template-columns: repeat(12,1fr);

    padding: 10px 0;
    background-color: transparent;
    transition: ease all 0.3;
    
  }

  .work-line img{
    opacity: 0 ;
    height: 30vw;
    position: absolute;
    left: 50%;
    width: max-content;
    
  }


  .work-line:hover .work-box{
    position: absolute;
    
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    filter: blur(0);
  }

  .work-line:hover img{
    opacity: 1 ;
   
    
  }

  .work-line-index{
    width: max-content;
    grid-column: 1/2;
    
  }

  .work-line-title{
    width: max-content;
    grid-column: 2/5;
  }

  .work-catagory{
    width: 100%;
    
    grid-column: 5/12;
   
  }

  .work-line-cat{
    width: max-content;
    
  }

  .work-line-date{
    width: 100%;
    
    width: max-content;
    grid-column: 13/13;
    text-align: right;
  }




/* project section --------------------------------------------- */

.project-tab {

  width: 100%;
  position: absolute;
   background-color: var(--grey); 
  
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
  top: 0;
  right: 0;
  bottom: 0;
  
}

.closed{
  top: 30%;
  left: 0%; 
  transition: ease all 0.5s;
  filter: drop-shadow(0 0 0.75rem rgba(80, 80, 80, 0.119));
}

.open{
  left: 0% ;
  transition: ease all 0.5s;
  filter: drop-shadow(0 0 0.75rem rgba(80, 80, 80, 0.718));
  
}




.project-title-ani{
  
  animation: projectIntro 3s;

  
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
 
  
  
  overflow: hidden;

}

.project-title-ani h1{
  padding-bottom: var(--pdn);
}





.project-inner{ 
  
  width: calc(100% - var(--pdn) * 2 );
  overflow-x: scroll;
  background-color: var(--wht);
  background-color: var(--wht);
  padding: var(--pdn);

  display: flex;
  flex-direction: column;
  align-items: center;
  
 
  overflow-x: hidden;
  
}

.project-inner img{
  width: 100%;
  object-fit: cover;
  z-index: 20;
}
.img-wrap{

  width: 100%;
  
}

.project-header{
  display: flex;
  justify-content: space-between;
  
  position: fixed;
  
  right: var(--pdn);
  top: var(--pdn);


}

.project-info-block{
 
  display: grid;
  gap: var(--pdn);
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
.project-info-block .sub{
  width: 100%;
  
  text-align: right;
  padding-bottom: 10px !important;
}

