*{
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: Helvetica, sans-serif

}

body{
  background-color: var(--wht);
}

.loading{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  transition: ease all 0.3;
}

.logo{
  position: fixed;
  top: var(--pdn);
  left: var(--pdn);
  z-index: 9999999;
}

.main-footer{
  position: absolute;
  display: flex ;
  justify-content: space-between;
  background-color: var(--wht);
  left: 0 ;
  right: 0 ;
  bottom: 0 ;
  padding: var(--pdn);
 
}

.footer-contact{
  display: flex;
  width: 450px;
  justify-content: space-between;
}


.footer-name{
  position: absolute;
  bottom: var(--pdn);
  left: var(--pdn);
  z-index: 10000;
  display: none;
}

@keyframes landing {

  from{
      bottom: 0%;
  }

  to{
    bottom: 100%;
  }

}


.landing-animation{
  animation-name: landing;
  animation-duration: 2s;
  filter: backdrop-blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  
  bottom: 100%;
  left: 0;
  right: 0;
  background: var(--grey);
  z-index: 1000000000;
  overflow: hidden;
}
.landing-animation h1{
  color: var(--blk);
}


::selection {
  background: #964431; /* WebKit/Blink Browsers */
  
}
::-moz-selection {
  background: #ff0000; /* Gecko Browsers */
  
}

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.fragment{
  overflow: hidden;
}

:root {
  --pdn: 20px;
  --grey: rgba(0, 0, 0, 0.307);
  --lite-grey: rgba(157, 157, 157, 0.08);
  --inactive: rgb(239, 239, 239);
  --wht: rgb(229, 229, 229);
  --blk: rgb(85, 85, 85);
  --shadow: rgb(111, 111, 111);
  --closed-window: 50px;
  --window-width: calc(100vw - var(--closed-window));
  --shadow: rgba(0, 0, 0, 0.182);
}


.underline{
  text-decoration: underline;
}


.resize{
  background-color: var(--blk);
  color: white;
  z-index: 10000;
  height: 30px;
  width: 30px;
  border-radius: 20px;

  position: absolute;
  top: 50%;
  left: -10px;

  display: flex;
  align-items: center;
  justify-content: center;

}

.resize svg{
  width: 60%;

  
}

a{
  font-size: 0.9rem;
  color: var(--blk);
  text-decoration: none;
  color: var(--blk);
}


p{
  font-size: 1rem;
  font-weight: 600 ;
  color: var(--blk);
  line-height: 125%;
  
}


@media only screen and (max-width: 1000px) {
  p,a {
    font-size: 0.8rem;

  }
}


h4{
  font-size: 16px;
  font-weight: 400 ;
  color: var(--wht);
  line-height: 130%;
}

.sub{
  color: var(--blk);
  padding-bottom: var(--pdn );
  
  
}

.sub-num{
  position: absolute;
  left: calc( 0px - var(--pdn) * 8);
  
  /* border-bottom: 1px solid black; */
  width: 600;
  color: var(--grey);
}

h1{
  font-size: 1.9vw;
  font-weight: 400 ;
  color: var(--blk);

}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 4.3vw;

  }
}

.nav{

  position: fixed;
  top: var(--pdn);
  left: var(--pdn);
  right: var(--pdn);
  
  display: flex;
  
  justify-content: flex-end;
  gap: var(--pdn);
  z-index: 10;

}

.nav-links{
  display: flex;
  gap: 5px;
  /* width: 900px; */
  justify-content: space-between;
  /* flex-direction: row-reverse; */
  width: 450px;
  transition: ease all 1s;
}
/* 
.hide-nav-links .nav-links{

  background-color: yellow;
  opacity: 0;
  pointer-events: none;
  z-index: 0;

} */

@media only screen and (max-width: 1000px) {
  .nav {
    flex-direction: row-reverse;
  }
}


.all-work{
  
  /* min-width: calc( var(--window-width) - var(--pdn) * 5 ); */

  padding-top: 0;
  min-width: calc(100vw - var(--pdn) * 2);
  padding: var(--pdn);
  padding-top: calc( var(--pdn) * 6);
  
  
  top: 0;
  margin-top: 0;
  

}
@media only screen and (max-width: 1000px) {
  .all-work{
    position: unset;
    width: calc(100% - var(--pdn));
    padding-top:var(--pdn);
    
  }
}


.home-wrap{
  display: flex;
  flex-direction: row-reverse;
  
  
  overflow: hidden;
  height: fit-content;
  
  overflow: hidden;
}

.movment-wrap{
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  overflow: hidden;
 
}

@media only screen and (max-width: 1000px) {
  .movment-wrap {
    flex-direction: column-reverse;
  }
}

.work-state .movment-wrap{
  
  transition: ease all 1s;
  transform: translate( 0, 0px);
}

.work-state .about-section{

  width: 0;
  
  
}



.work-state .work-section{

  width:100vw;
  filter: var(--drop);
  
  display: flex;
  
  

  
  
}
@media only screen and (max-width: 1000px) {


}


.about-state .work-section{
    width: 0px;
  
}
.about-state .about-section{
  min-width: 100vw;
 

}

.about-state .work-section{
  -webkit-box-shadow: inset 31px 10px 15px -20px var(--shadow);
  -moz-box-shadow: inset 31px 10px 15px -20px var(--shadow);
  box-shadow: inset 31px 10px 15px -20px var(--shadow);

  
  
}

.about-state .work-line{
 
  pointer-events: none;
}



@media only screen and (max-width: 1000px) {
  .work-state .movment-wrap{
    transform: translate( 0,  calc( 0px - 100vh + 120px)) !important;
    transform: translate( 0,  calc( 0px )) !important;
    
    
  }

  .work-state .about-section{
    height: 0px;
    width: unset;
  }

  .work-state .work-section{
    height: 100vh ;
    width: 100vw;
  }
  
 
  
}
@media only screen and (max-width: 1000px) {


  .about-state .work-section{
    height: 0;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .about-state .about-section{
    height: 100vh;
    
    width: 100%;
    padding-right: var(--pdn);
  }

 
  
}

.about-state{
  overflow: hidden;
}


/* .about-state .movment-wrap{
  
  transition: ease all 0.3s;
  transform: translate(calc(var(--window-width) - var(--pdn) * 2.8), 0px);
} */



@media only screen and (max-width: 1000px) {
  .about-state .movment-wrap{
    transform: translate( 0, 0px);

  }


}


.work-state .movment-wrap{
  
  /* transition: ease all 0.3s; */
  /* transform: translate( 0, 0px); */
}


.btn{
  
  height: 20px;
  
  color: var(--blk);
  width: max-content;
  
 
  display: flex;
  align-items: center;
  
  border-bottom: 3px solid transparent;
  

  
  display: flex;
  align-items: center;
}


.btn:hover{
  
  
  color: var(--blk);
  border-bottom: 0px solid var(--blk);
  
}


.btn-inactive{
  

  
  color: var(--blk);
  
  border-bottom: 3px solid var(--blk);
  display: flex;
  align-items: center;
  
}

.btn-inactive:hover{
  
  
  
  
  border-bottom: 3px solid var(--blk);
 
  
  
}


.inactive{
  background-color: var(--inactive) !important;
  filter: backgroud-blur(2px);
  
}

.inactive .about-section{
  
}

.inactive .section {
  
  opacity: 0.3;
  
}

.inactive .about-info{
  pointer-events: none;
}

.inactive .project-inner{
  background-color: var(--inactive);
  overflow: hidden;
}

.inactive .about-info{
  background-color: var(--inactive);
  opacity: 1;
 
  
}


.section{
  padding: var(--pdn) 0 ;
  height: calc(100vh - var(--pdn) * 2);

  width: 100vw;
  /* transition: ease all 0.2s; */
  
  
}


/* about section ----------------------------------------------- */

  .all-about{

    

    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: flex-end;

   
   
  }

  .about-section{
    
   
    padding: var(--pdn);
    
    height: calc( 100vh  );
    transition: ease all 1s;
    
    position: relative;

    overflow: scroll;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    
    
    
    
    
   
  }

  @media only screen and (max-width: 1000px) {
    .all-about {
      border-radius: 0;
      width: 100vw;
     
      height: 100%;
      

      position: relative;
      
      
    }
    .about-section{
      width: 100%;
      height: 100%;
    }

    
  }

  .profilepic{
    
    position: fixed;
   
    opacity: 0;
    left: 0;
    width: 450px; 
    height: 100vh;
    bottom: 0;
    opacity: 0.2;
    z-index: 10;
    background-color: var(--wht);
    
    overflow: hidden;
    
  }

  .profilepic img{
    display: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
    mix-blend-mode:luminosity ;

    
  }

  @media only screen and (max-width: 1000px) {
    .profilepic{
      position: relative !important;
      left: -10px;
      height: 100px ;
      grid-column: 1 / 13;
      left: 0px;
      display: none;
      
    }

    
  }

 

  .hero-statement{
    
    width: 100%;
    

    /* padding-top: calc(var(--pdn)*2); */
    margin-bottom: calc( var(--pdn) * 2.5);

  }

  @media only screen and (max-width: 1000px) {
    .hero-statement{
     
      width: 100%;
      
      
    }

    .hero-title{
      padding-top:  calc(var(--pdn) * 2);
    }

    
  }

  .about-info{
    width: calc(100vw - var(--pdn) * 2 );

    padding-right: var(--pdn);
    padding-left: calc(100% - 450px - var(--pdn) );
    padding-top: calc(var(--pdn) * 6);
    
    
   }

  @media only screen and (max-width: 1000px) {
    .about-info {
      border-radius: 0;
      grid-column: 1 / 13;
      width: unset;
      
      right: 0;
      left: 0;
    }
  }

  .about-body{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: var(--pdn);
  }

  .hero-block{
    position: relative;
  }

  .clinets-block{
    grid-column: 1/5;
    position: relative;
    margin-bottom: calc( var(--pdn) * 1.5);
  }
  .reconition-block{
    grid-column: 5/8;
  }
  .pen-block{
    position: relative;
    grid-column: 1/8;
    grid-row: 2;
    /* background-color: red; */
    display: flex;

    
  }
  .pen-block-wrap{
   
    width: max-content;

  }


  .footer{
    width: 100%;
   
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: var(--pdn);
    padding-bottom: var(--pdn);
    padding-top: var(--pdn);
    
  }

  .social-block{
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
  }
  

  .contact-block{
    grid-column: 3/6;
  }


  

/* work section ------------------------------------------------ */

.work-intro{

  display: flex;
  justify-content: center;
  align-items: center;
}
  
  .work-section{
    position: relative;
    
    
    z-index: 10;
    overflow-x: hidden;
    transition: ease all 1s;
    
  }

  @media only screen and (max-width: 1000px) {
    .work-section {
     height: calc(100vh - 60px );
     
    }
  }

  

  .work-box{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.024);
    left: 0;
    right: 0;
    bottom: 100%;
    top: 0;
    
    transition: ease all 0.2s;
    z-index: -10;
  }

  

  .work-link-mobile{
    display: none;
    position: unset !important;
    left: var(--pdn);
    z-index: 300;
    
  }
  
  @media only screen and (max-width: 1000px) {
    .work-link-mobile {
      
      display: flex !important;
  
    }
  
    .work-link{
      display: none;
    }
  }
  

  /*  work project catagorys line */

  
  .catagorys-title{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    padding: 10px 0;
    
    gap: var(--pdn);
    

  }

  

 

  .catagorys-title p{
    color: var(--grey);
  }


  /* work lines  */

  .line{
    height: 1px ;
    
    width: 100%;
    
    background-color: rgba(0, 0, 0, 0.168);

    
    

  }

  .work-line{
    
    position: relative;
    
    display: flex;
    align-items: center;
    
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: var(--pdn);
    padding: 10px 0;
    background-color: transparent;
    

    
    
  }

  @media only screen and (max-width: 1000px) {
    .work-line {
      align-items: flex-start;
    }
  }

  

  .work-line img{
    opacity: 0 ;
    
    position: absolute;
    
    right: 0;
    top: 0;
    bottom: 0;
    width: 120px;
    
    
  }


  .work-line:hover .work-box{
    position: absolute;
    
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    filter: blur(0);
  }

  .work-line:hover img{
    opacity: 1 ;
   
    
  }

  .work-line-index{
    width: max-content;
    grid-column: 1/2;
    
  }

  

  .work-line-title{
    width: 20vw;
    grid-column: 2/5;
  }


  .work-line-cat{
    grid-column: 5/11;
    width: max-content;
    
  }
  @media only screen and (max-width: 1000px) {
    .work-line-title{
      width: max-content;
      grid-column: 3/5;
    }
  }

  .work-catagory{
    width: 100%;
    display: flex;
    gap: 6px;
    grid-column: 5/11;
    flex-wrap: wrap;
    
   
  }

  

  @media only screen and (max-width: 1000px) {
    .work-catagory {
      grid-column: 8/13;
      flex-direction: column;
    }
    .work-line-cat{
      grid-column: 7/13;
      width: max-content;
      
    }
  }

 

  .line-cat{
    background-color: var(--lite-grey);
    border-radius: 4px;
    width: max-content;
    padding: 5px 10px;
  }

  .work-line-date{
    width: 100%;

    grid-column: 13/13;
   
    
  }


  @media only screen and (max-width: 1000px) {
    .work-line-date {
      display: none;
    }
  }




/* project section --------------------------------------------- */

@keyframes fadeIn {
  
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }

}

@keyframes pulse {

  from {
    background-color: red;
  }

  to {
    background-color: var(--wht);
  }
  
}

.project-tab {

  /* animation-name: pulse;
  animation-duration: 3s;
  animation: fadeIn 3s; */
  
  position: absolute;
   background-color: var(--wht); 
   background-color: var(--wht); 
  display: flex;
  flex-direction: column;
 
  align-items: flex-end;
  padding: 0 var(--pdn);
  background-color:var(--wht);
  z-index: 20;
  
  top: 0;
  right: 0;
  bottom: 0;

  filter: drop-shadow( -50px 0px 20px var(--shadow));
  
}

@media only screen and (max-width: 1000px) {
  .project-tab {
    width: calc( 100% - var(--pdn) * 2);
    z-index: 20000;

  }
}

/* testing  */

.closed{
  top: 100%;
  right: 0%; 
  left: 0;
  
  transition: ease all 1s;
  background-color: var(--blk);
}

.open{
  top: 0% ;
  right: 0%;
  left: 0%;
  
  transition: ease all 1s;
  
  
  
  
}






.project-main-info{
  
  animation: projectIntro 3s;

  
  min-height: calc(50vh - var(--pdn)* 2);
  width: 450px;
  display: flex;
  
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
 
  
  
  overflow: hidden;
  

}

.project-title-ani h1{
  padding-bottom: var(--pdn);
}





.project-inner{ 
  
  width: 100%;
  overflow-x: scroll;
  /* background-color: var(--wht); */
  
  padding-top: var(--pdn);
  
  display: flex;
  flex-direction: column;
  align-items: end;
  
  gap: var(--pdn);
  overflow-x: hidden;
  z-index: 100000000;
  
}

.project-inner img{
  width: 100%;
  object-fit: cover;
  z-index: 20;
}
.img-wrap{

  width: 100%;
  
}

.project-header{
  display: flex;
  justify-content: space-between;
  width: 450px;
  height: 100px;
  
  z-index: 10000000;

}

.project-title-wrapper{
 
  
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  
  
  
 
}

.project-title{
  
  
}

.project-info-wrap{

  background-color: var(--wht);
  border-radius: 4px;
  border: 1px solid var(--grey);
  padding: var(--pdn)
}


.project-info-block{
 
  display: flex;
  gap: var(--pdn);
  
  
  padding-bottom: 5px !important;
}

.project-info-block .sub{
  
  
  
  padding-bottom: 0px !important;
  width: 30%;
}

